:root {
  --primary-dark: #000080;
  --primary-light: #00bfff;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

h1 {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 0.5rem;
  width: 100%;
}

#check-btn {
  display: block;
  margin-top: 1rem;
  margin: auto;
  background: transparent;
  columns: var(--primary-light);
  color: var(--primary-light);
  border-color: var(--primary-light);
  border-width: medium;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
